.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background/parallax-bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

.main-nav {
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  text-shadow: 1px 1px 1px fuchsia;
}

.main-nav:hover {
  text-decoration: overline;
}

.connection {
  font-weight: bold;
  text-decoration: underline;
  color: #1c1c1c;
}

.connection-nav:hover {
  background-color: fuchsia;
  color: white;
}

.main-title {
  text-shadow: 1px 1px 3px fuchsia;
  color: black;
}

.text {
  text-shadow: 1px 1px 3px fuchsia;
    color: black;
}

.button-calc {
  border: none;
  border-radius: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 60px;
  color: black;
  cursor: pointer;
  background: none;
}

.input-mint {
  border: none;
  width: 70px;
  margin: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 10px;
  color: #fff;
  background-color: black;
}

.now-mint {
  border: none;
  margin: 30px;
  font-weight: bold;
  color: #fff;
  background-color: fuchsia;
  border-radius: 10px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.now-mint:hover {
  border: none;
  margin: 30px;
  font-weight: bold;
  color: #fff;
  background-color: black;
}
